---
import cms from "@/apis/cms.js";

interface Props {
  _id: string,
  path: string,
  title: string,
  date: string,
  link: string,
}
const { _id, path, title, date, link } = Astro.props;

const imageSrc = await (async () => {
  try {
    return await cms.GetImage.fitToWidth(_id, 160 * 4, 190 * 4);
  } catch (error) {
    console.error(error);
  }
  return cms.getAssetFullPath(path);
})();

const titleLines = title.split('<br>');
// console.log('{ _id, path, title, date, link }', { _id, path, title, date, link })
---
<div class="highlightsitem">
  <a href={link??'/'} class="item">
    <div class="item__image">
      <img src={imageSrc}>
    </div>
    <div class="item__title">
      {
        titleLines.map((line) => (<p>{line}</p>))
      }
    </div>
    <time class="item__time">{date}</time>
  </a>
</div>

<style lang="scss">
  .highlightsitem {
    display: table-cell;
    vertical-align: top;
    width: 160px;
    .item {
      display: block;
      margin: 0 1rem;

      &__image {
        width: 160px;
        height: 210px;
        overflow: hidden;
        display: table;
        position: relative;
        img {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          width: 100%;
          height: auto;
        }
      }

      &__title {
        display: block;
        margin: 1rem 0;
        min-height: 3rem;
      }

      &__time {
        display: block;
      }
    }
  }
</style>