---
---
<div class="keyvisual">
  <h1>Make the world tremendous</h1>
  <a href="#intro" class="slider">Get Started</a>
</div>

<style lang="scss">
  .keyvisual {
    background-image: url("/wallpaper.jpg");
		background-position: center;
		text-align: center;
		background-size: cover;
		width: 100%;
		height: 100vh;
		-webkit-background-size: cover;
		background-size: cover;
		-o-background-size: cover;

    h1 {
      width: 100%;
      text-align: center;
      font-size: 36px;
      font-weight: 300;
      color: rgba(255, 255, 255, 0.7);
      padding-top: calc(50vh - 100px);
      padding-bottom: 60px;
      font-family: "Dela Gothic One", cursive;
    }

    a {
      font-size: 24px;
      padding: 10px 20px;
      border: 1px solid var(--white);
      color: var(--white);
      border-radius: 30px;
      font-weight: 200;

      &:hover {
        color: var(--accent);
        border: 1px solid var(--accent);
        transition-timing-function: ease-in;
        transition-duration: 0.2s;
      }
    }
  }
</style>