---
interface Props {
  image_src: string,
  title: string,
  description: string,
  alt_text: string,
}
const { image_src, title, description, alt_text } = Astro.props;
// console.log({
//   image_src, title, description, alt_text
// })
---
<li class="works-item">
  <div class="frame">
    <a href="#">
      <img src={image_src} alt={alt_text}>
    </a>
  </div>
  <div class="label">
    <p>{title}</p>
  </div>
</li>

<style lang="scss">
  .works-item {
    --w: 318px;
    --h: 410px;
  }

  .works-item {
    display: inline-block;
    width: var(--w);
    height: var(--h);
    text-align: center;
    margin: 0 10px;

    .frame {
      display: flex;
      width: 100%;
      height: 80%;
      justify-content: center;
      align-items: center;

      a {
        display: block;
        img {
          max-width: var(--w);
          max-height: calc(var(--h) * 0.8);
        }
      }
    }

    .label {
      height: 20%;
      width: 100%;

      p {
        display: inline-block;
        word-break: break-all;
        overflow-wrap: break-word;
        text-align: center;
        margin: 10px 0;
        min-width: 100px;
        background-color: var(--white);
        color: var(--black);
      }
    }
  }
</style>