// Breakpoints
$mq-breakpoints: (
    pc: 1440px,
    sp: 768px
) !default;

// Media Queryの設定
@mixin mq($breakpoint: md, $rule: min, $subtraction: false) {
    $breakpoint: map_get($mq-breakpoints, $breakpoint);

    @if $rule==max and $subtraction {
        $breakpoint: $breakpoint - 0.0625;
    }

    @media screen and (#{$rule}-width: $breakpoint) {
        @content;
    }
}

// Font Colors
$fc-colorcodes: (
    dark: (
        default: rgb(40, 40, 40),
        hovered: rgb(94, 94, 94)
    ),
    light: (
        // default: rgb(240, 248, 255),
        default: rgb(53, 221, 11),
        hovered: rgb(162, 162, 162)
    ),
    accent: (
        default: rgb(254, 1, 92)
    )
);

@function fc($theme: dark, $type: default) {
    $target: map-get($map: $fc-colorcodes, $key: $theme);
    @return map-get($map: $target, $key: $type);
}