---
import Layout from "@/layouts/Layout.astro";
import Keyvisual from "@/components/index-parts/Keyvisual.astro";
import HighlightsItem from "@/components/index-parts/HighlightsItem.astro";
import cms from "@/apis/cms.js";

// Introduce
const introduce = await cms.getItem("introduce");

// Highlights
const highlights = await (async () => {
	const content = await cms.getItems("highlights");
	return content.data.map((item) => {
		return {
			title: item.title,
			date: item.date,
			image_src: cms.getAssetFullPath(item.thumbnail.path),
		};
	});
})();
// console.log(highlights);
---

<Layout title="PANMry Works Official Homepage">
	<div class="main">
		<Keyvisual />
    <section id="intro">
			<h2>INTRODUCE</h2>
			<hr>
      <p class="description" id="desc01">
				{introduce.text}
			</p>
    </section>
    <section id="highlights">
			<h2>HIGHLIGHTS</h2>
			<hr>
			<div class="img-list">
				{highlights.map((item) => <HighlightsItem title={item.title} date={item.date} image_src={item.image_src} />)}
			</div>
    </section>
  </div>
</Layout>

<style lang="scss">
	.main {
		& > section {
			h2 {
				width: 100%;
				text-align: center;
				font-size: 30px;
				padding: 15px 0px;
				color: var(--accent);
			}
		}
	}

	.description {
		text-align: center;
		font-size: 18px;
		padding: 15px 0px;
		color: rgb(177, 177, 177);
	}

	.img-list {
		display: block;
		height: 320px;
		width: 100%;
		white-space: nowrap;
		overflow: scroll;
		text-align: center;
		overflow-y: scroll;
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
</style>
