---
---

<div class="footer">
	<div id="menu">
		<nav>
			<h4>Pages</h4>
			<ul>
				<li><a href="/">Top</a></li>
				<li><a href="/works">Works</a></li>
				<li><a href="/about">About</a></li>
			</ul>
		</nav>
		<nav>
			<h4>Follow</h4>
			<ul class="follow-me">
				<li><a href="https://twitter.com/PANMry_official" id="twttr"></a></li>
				<li><a href="https://www.instagram.com/panmry__/" id="insta"></a></li>
				<li><a href="https://www.youtube.com/"></a></li>
			</ul>
		</nav>
	</div>
	<div id="copyright">
		&copy;2022 PANMry Official HP Production.
	</div>
</div>

<style lang="scss">
	@use "@/styles/mediaquery" as mq;

	.footer {
		background-color: var(--distinction);
		width: 100%;
		@include mq.break(pc) {
			width: var(--margin-percentage);
			max-width: calc(var(--screen-max-width) * var(--margin-rate));
			margin: 0 auto;
		}
		
		* {
			color: var(--white);
		}

		a:hover {
			text-decoration: underline;
		}

		& > div {
			max-width: var(--screen-max-width);
			margin-left: auto;
			margin-right: auto;
			padding-top: 12px;

			&:last-child {
				padding-bottom: 12px;
			}
		}
	}

	
	#copyright {
		text-align: center;
	}

	#menu {
		display: flex;
		padding: 10px;

		nav {
			display: inline-block;
			width: 150px;

			h4 {
				font-size: 20px;
				color: var(--accent);
				margin-bottom: 10px;
				width: 100%;
			}
		}
	}

	/* follow btn */
	.follow-me {
		margin: 0 0 -8px;
		overflow: hidden;
		padding: 0;

		li {
			float: left;
			margin: 0 8px 8px 0;
			padding: 0;

			a {
				&::before {
					background-color: #eee;
					-webkit-border-radius: 2px;
					border-radius: 2px;
					color: #333;
					display: inline-block;
					font-family: "FontAwesome";
					font-size: 16px;
					height: 44px; /* Button height */
					line-height: 44px; /* Button height */
					-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
					text-align: center;
					width: 44px; /* Button width */
				}

				&:hover::before {
					color: #fff;
					background-color: rgb(83, 83, 83);
				}
				
				&[href*="twitter.com"]::before {
					content: "\f099";
				}

				&[href*="instagram.com"]::before {
					content: "\f16d";
				}
			}
		}
	}
</style>
