---
import Logo from "./header-parts/Logo.astro";
import BargerButton from "./header-parts/BargerButton.astro";
---

<div class="header">
	<Logo></Logo>
	<div class="menu" id="header-menu">
		<nav id="menu-main">
			<ul>
			  <!-- <a> class="h-nav-list-active" 付与でハイライト -->
			  <li><a href="/#intro" class="active">intro</a></li>
			  <li><a href="/#highlights">highlights</a></li>
			  <li><a href="/works">works</a></li>
			  <li><a href="/paletopia">paletopia</a></li>
			</ul>
		</nav>
		<nav id="menu-sub">
			<ul>
			  <li><a href="./about.html">about</a></li>
			</ul>
		</nav>
	</div>
	<BargerButton></BargerButton>
</div>

<style lang="scss">
    @use "@/styles/mediaquery" as mq;

	.header {
		--header-h: 50px;
		--logo-w: 105px;
		--barger-menu-bgc: var(--distinction);
	}

	.header {
		width: 100%;
		height: var(--header-h);
		z-index: 1000;
		position: relative;
		background-color: var(--distinction);
	}

	@include mq.break(mb) {
		.header {
			.menu {
				padding: 0 2rem;
				position: absolute;
				z-index: 10;
				top: -250px;
				background-color: var(--distinction);
				width: calc(100% - (2rem * 2)); // {BargerButton の Width} を引く
				transition: all var(--trs-duration);

				&.panelactive {
					top: var(--header-h);
				}

				nav {
					&:last-child {
						margin-top: 1rem;
					}

					ul {
						li {
							margin: 6px 0;
							a {
								text-transform: uppercase;
								font-size: 1.2rem;
								
								&.active {
									color: var(--accent);
								}
							}
						}
					}
				}
			}
		}
	}

	// PC
	@include mq.break(pc) {
		.header {
			height: var(--header-h);
			color: var(--white);
			position: relative;

			.menu {
				height: 100%;
				width: calc(100% - var(--logo-w));
				position: absolute;
				left: var(--logo-w);

				nav {
					display: inline-block;
					position: absolute;

					ul {
						li {
							display: inline-block;
							margin-left: 10px;

							&:last-child {
								margin-right: 10px;
							}

							a {
								text-transform: uppercase;
								vertical-align: middle;
								line-height: 50px;
								font-size: 1.2rem;

								&:hover {
									transition: var(--trs-duration);
									color: var(--white-2);
								}
								
								&.active {
									color: var(--accent);
								}
							}
						}
					}

					&#menu-main {
						left: 0;
					}

					&#menu-sub {
						right: 0;
					}
				}
			}
		}
	}
</style>
