---
---
<div class="barger-button">
    <label class="barger-button__button" id="button">
        <span class="barger-button__button__staple"></span>
    </label>
</div>

<script>
    function handlerOnLoad() {
        const bargerclose = new CustomEvent('bargerclose');
        const bargeropen = new CustomEvent('bargeropen');

        /** @type {boolean} バーガーメニューの開/閉状態 */
        let state = false;
        const button = document.querySelector("#button");
        const menu = document.querySelector("#header-menu");

        button.addEventListener('bargeropen', () => {
            if (state === false) {
                menu.classList.add("panelactive");
                document.addEventListener('click', outerClick);
                state = true;
            }
        });

        button.addEventListener('bargerclose', () => {
            if (state === true) {
                menu.classList.remove("panelactive");
                document.removeEventListener('click', outerClick);
                state = false;
            }
        });

        button.addEventListener('click', () => {
            if (state === true) button.dispatchEvent(bargerclose);
            else button.dispatchEvent(bargeropen);
        });

        const outerClick = (e) => {
            if (e.target.closest('#button') === null) {
                const closeEvent = new CustomEvent('bargerclose');
                menu.classList.remove("panelactive");
                button.dispatchEvent(closeEvent);
            }
        }

        button.addEventListener('scrolldown', outerClick);
    }

    document.addEventListener('DOMContentLoaded', handlerOnLoad);
</script>

<style lang="scss">
    @use "@/styles/mediaquery" as mq;

	@include mq.break(mb) {
        .barger-button {
            width: 100%;
            height: var(--header-h);
            background-color: var(--distinction);
            position: fixed;
            z-index: 5000;

            &__button {
                position: absolute;
                z-index: 6000;
                top: 4px;
                right: 10px;
                display: flex;
                height: 40px;
                width: 40px;
                justify-content: center;
                align-items: center;
                transition: 0.5s ease;

                &__staple, &__staple:before, &__staple:after {
                    background-color: var(--white);
                    content: "";
                    display: block;
                    height: 4px;
                    width: 25px;
                    border-radius: 3px;
                    position: absolute;
                }

                &__staple:before {
                    bottom: 8px;
                }

                &__staple:after {
                    top: 8px;
                }
            }
        }
    }
</style>