---
---
<div class="logo">
    <div class="cambas">
        <a class="link" href="/">
            <span class="logo-item-1">PANMry</span><span class="logo-item-2">Works</span>
        </a>
    </div>
</div>

<style lang="scss">
    @use "@/styles/mediaquery" as mq;

    .logo {
        width: 105px;
        height: 50px;
        position: absolute;
        z-index: 6000;
        @include mq.break(mb) {
            position: fixed;
        }
        
        .cambas {
            width: 100%;
            height: 100%;
            background-color: var(--distinction);

            a.link {
                font-family: "Questrial", "Helvetica Neue", Arial, sans-serif;
                color: var(--accent);
                font-weight: bold;
                display: block;
                width: 100%;
                height: 100%;
                position: relative;

                .logo-item-1 {
                    position: absolute;
                    left: 7px;
                    top: 7px;
                    font-size: 25px;
                }

                .logo-item-2 {
                    position: absolute;
                    left: 29px;
                    top: 24.5px;
                    font-size: 19px;
                }
            }
        }
    }
</style>
