---
import "the-new-css-reset";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

interface Props {
    title: string,
    page: string,
}

const { title, page } = Astro.props;
---

<!doctype html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- <meta name="description" content="" /> -->
        <meta name="viewport" content="width=device-width" />
        <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <header><Header page={page}></Header></header>
        <main><slot /></main>
        <footer><Footer></Footer></footer>
    </body>
</html>

<style is:global lang="scss">
    @use "@/styles/mediaquery" as mq;
    @import url("http://fonts.googleapis.com/css?family=Dancing+Script:700");
    @import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");
    @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

    :root {
        // Color Codes
        --black: rgb(40, 40, 40);
        --black-2: rgb(94, 94, 94);
        --white: rgb(240, 248, 255);
        --white-2: rgb(162, 162, 162);
        --accent: rgb(254, 1, 92);
        --distinction: rgb(24, 24, 24);

        // Transition Options
        --trs-duration: 0.6s;

        // Other Options
        --screen-max-width: 1920px;
        --margin-rate: 0.8;
        --margin-percentage: 80%;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: content-box;
    }

    html {
        font-size: 16px;

        body {
            width: 100%;
            font-family: "Ubuntu Condensed", sans-serif, cursive;
            background-color: var(--black);

            a,h1,h2,h3,h4,h5,p,time,li {
                color: var(--white);
                margin: 0;
                padding: 0;
            }

            header, main, footer {
                width: 100%;
            }

            main {
                @include mq.break(mb) {
                    // モバイルではヘッダーがfixedなのでその高さ分の余白が必要
                    padding-top: 50px;
                }
                

                // スクロールバー
                ::-webkit-scrollbar {
                    width: 12px;
                    height: 12px;
                }
                ::-webkit-scrollbar-track {
                    background: rgb(94, 94, 94);
                    border-radius: 10px;
                }
                ::-webkit-scrollbar-thumb {
                    background: aliceblue;
                    border-radius: 10px;
                }
            }

            header, footer {
                background-color: var(--distinction);
            }
        }
    }
</style>
